In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark import SparkContext

In [3]:
sc = SparkContext("local","Pyspark_01")

In [5]:
data = [1,2,3,4,5]
rdd = sc.parallelize(data)

In [6]:
rdd.collect()

[1, 2, 3, 4, 5]

In [7]:
rdd.distinct()

PythonRDD[6] at RDD at PythonRDD.scala:53

In [8]:
squaredRdd = rdd.map(lambda x: x**2 )

In [11]:
squaredRdd.collect()

[1, 4, 9, 16, 25]

In [12]:
squaredRdd.count()

5

In [13]:
even_rdd = rdd.filter(lambda x: x%2 == 0)

In [15]:
even_rdd.collect()

[2, 4]

In [20]:
even_rdd = rdd.filter(lambda _: _%2 == 0)

In [21]:
even_rdd.collect()

[2, 4]

In [22]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [26]:
schema = StructType([
        StructField("Name", StringType(), True),
        StructField("Age", IntegerType(), True),
        StructField("Salary", IntegerType(), True)
])

In [27]:
data = [("Alice",28,45000),("Bob",36,60000),("Cathy",23,35000)]

In [29]:
spark = SparkSession.builder \
       .appName("MysparkApplication") \
       .getOrCreate()

In [30]:
ds = spark.createDataFrame(data,schema)

In [31]:
ds = ds.alias("employees")

In [32]:
ds.show()

+-----+---+------+
| Name|Age|Salary|
+-----+---+------+
|Alice| 28| 45000|
|  Bob| 36| 60000|
|Cathy| 23| 35000|
+-----+---+------+